header {
    background-color: #013E6D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    padding: 8px;
    margin-bottom: 20px;
}

.logo {
    width: 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 2px;
}

.iconAccount {
    width: 38px;
}

.username {
    color: #fff;
    text-decoration-line: none;
}