.posts {
    width: 80%;
    margin: 28px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 28px;
}

.divPost {
    width: 300px;
    min-width: 200px;
}

h3.hidden {
    display: none;
}

h3.error { 
    text-align: center;
}

.loading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgLoading {
    width: 25px;
}
